body
{
position: center;
}

#canvas{
    text-align: center;
}

.big_image{
    width: 100%;
}

#myModal,.modal-body{
    color: antiquewhite;
}

.heading{
    width: 100%;
    text-align: center;
}

#footer{
    position: sticky;
    width: 100%;
}